---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact Us" description="Contact us for more information about our dance group">
    <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="f8cee8db-3625-499a-b562-4d9ddb50f534">
        <input type="text" name="name" required>
        <input type="email" name="email" required>
        <textarea name="message" required></textarea>
        <button type="submit">Submit Form</button>
    </form>
</BaseLayout>
