---
---

<section class="outline">
    <div class="stack gap-8">
        <h2>Mission Statement</h2>
        <p>
            “Kenari” is a recently formed Bulgarian dance group in the Phoenix area.
        </p>
        <p>
            Our mission is rooted in inclusivity and mutual support.
            We promote self-improvement and confidence in each member, ensuring everyone has the opportunity to shine, share knowledge and grow.
            We showcase not only Bulgarian dances but also those from Greece, Spain, and Macedonia, creating a rich tapestry of cultural expression.
        </p>
        <p>
            We are proud to enrich our community through public performances while fostering a deep appreciation for Bulgarian dance, music, tradition, and culture. We aim to inspire audiences and members of all ages and ethnicity.
        </p>
    </div>
</section>

<style>
    .outline {
        border-bottom: 1px solid var(--gray-800);
        padding-bottom: 5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
        text-align: center;
    }

    .stack {
        max-width: 60rem;
        margin-inline: auto;
        padding-inline: 1.5rem;
    }
</style>
