---
---

<section class="outline">
    <div class="stack gap-8">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus id felis nec ultrices. Maecenas
            porta leo elit. Etiam feugiat ipsum a libero aliquet ultricies. Aliquam mollis, diam nec semper maximus, nibh
            diam pellentesque justo, eu posuere urna nisi et dolor. Proin luctus arcu non velit aliquet, at bibendum ante
            ultricies. Morbi scelerisque, risus id laoreet venenatis, libero nulla placerat tortor, commodo porttitor augue
            turpis id ante.
        </p>
        <p>
            Integer consequat, tellus in aliquet vestibulum, nunc sapien venenatis orci, vel hendrerit ante mauris eu neque.
            Proin ultricies congue bibendum. Ut maximus mi quis sapien cursus tincidunt. Vivamus euismod volutpat orci, eget
            pretium est lacinia eget. Sed maximus risus non fermentum interdum. Cras vel nulla aliquam, sagittis nibh sed,
            semper felis. Pellentesque et lacus elementum, porta felis ac, aliquam velit. Sed ornare, quam at imperdiet
            aliquam, lacus arcu porta ligula, quis elementum leo tellus quis lacus.
        </p>
    </div>
</section>

<style>
    hr {
        border: none;
        height: 1px;
        background-color: var(--gray-800);
        width: 100%;
    }

    .outline {
        border-bottom: 1px solid var(--gray-800);
        padding-bottom: 5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
        text-align: center;
    }

    .stack {
        max-width: 60rem;
        margin-inline: auto;
        padding-inline: 1.5rem;
    }
</style>
